@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap";

* {
  font-family: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


.bg-ph{
    display: none;
    position: fixed; z-index: -2;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}
.bg{
    position: fixed; z-index: -2;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.phonk{
    position: fixed; z-index: -1;
    backdrop-filter: blur(8px);
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.500);
}


/*Top CSS*/

.top{
    position: fixed; left: 0; top: 0; z-index: 10;
    backdrop-filter: blur(20px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: rgba(0, 0, 0, 0.500);
}

.top ul{
    position: absolute;
    top: 0;
    height: 100%;
}

.top ul li{
    position: relative;
    display: flex;
    float: left;
    list-style-type: none;
    height: 100%;
    padding-left: 15px; padding-right: 15px;
    color: rgb(255, 196, 0);
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.500);
    font-size: 15px;
    transition: 0.25s;
    text-transform: uppercase;
}



a{
    color: white;
    text-decoration: none;
}

.top ul li:hover t{
    text-shadow: 0px 0px 8px green;
}

.top ul li:hover{
    background: rgba(0, 0, 0, 0.700);
    transition: 0.25s;
}


/*Main CSS*/

.con-main{
    position: absolute;
    margin-left: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.main{
    position: relative;
    margin-left: 0%;
    width: 100%;
    height: 100%;
    display: inline-flex;
    float: left;
}

/*Son*/

.son{
    width: 5%;
    height: 100%;
    background:rgb(24, 24, 24);
    backdrop-filter: blur(10px);
}

.son h2{
    color: white;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.600);
}

.son ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.295);
    margin-top: 10px;
    list-style-type: none;
}

.son ul li .cometext{
    padding-top: 15px;
    margin-top: 5px;
    border-top: 3px solid  rgba(0, 0, 0, 0.295);
}

.son ul li .comeon{
    cursor: pointer;
}

.son ul li .cometext, .comeon{
    margin-left: 5px;
}

/*Son*/

.dad{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    background:rgb(48, 48, 48);
    width: 95%;
    height: 100%;
}


.main .text-main{
    position: relative;
    color: white;
    margin-top: 20px;
    font-size: 14pt;
}

.text-main ul li{
    margin-top: 10px;
    list-style-type: none;
    text-align: center;
}

.text-main ul #firstchild{
    font-size: 30pt;
    -webkit-animation: lol 6s infinite;
    -ms-animation: lol 6s infinite;
    animation: lol 6s infinite;
}

.underfirst{
    padding: 10px;
    background: rgba(0, 0, 0, 0.300);
}

.text-main ul li:last-child{
    margin-top: 10px;
}






/*Colors*/

.weight{
    font-weight: 800;
}

.red{
    color: darkred; 
}

.blues{
    color: darkblue; 
}

.green{
    color: darkgreen; 
}

.purple{
    color: purple; 
}

.gray{
    color: gray; 
}

.unr-in{
    color: rgb(255, 96, 75);
}

.rainbow{
    -webkit-animation: lol 6s infinite;
    -ms-animation: lol 6s infinite;
    animation: lol 6s infinite
}

/*Colors*/

/*Main CSS*/



/*Other shit*/

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }


  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
::-webkit-scrollbar{
    display: none;
}

@-webkit-keyframes lol{
    0% {
        color: green
    }

    10% {
        color: rgb(218, 218, 0)
    }

    20% {
        color: rgb(214, 0, 0)
    }

    30% {
        color: rgb(0, 153, 255)
    }

    40% {
        color: silver
    }

    50% {
        color: purple
    }

    60% {
        color: rgb(0, 0, 187)
    }

    70% {
        color: rgb(202, 0, 34)
    }

    80% {
        color: rgb(179, 161, 0)
    }

    90% {
        color: rgb(138, 0, 46)
    }

    100% {
        color: green
    }
}



@-webkit-keyframes loler{
    0% {
        border: 3px solid green;
    }

    10% {
        border: 3px solid rgb(218, 218, 0);
    }

    20% {
        border: 3px solid rgb(214, 0, 0);
    }

    30% {
        border: 3px solid rgb(0, 153, 255);
    }

    40% {
        border: 3px solid silver;
    }

    50% {
        border: 3px solid purple;
    }

    60% {
        border: 3px solid rgb(0, 0, 187);
    }

    70% {
        border: 3px solid rgb(202, 0, 34);
    }

    80% {
        border: 3px solid rgb(179, 161, 0);
    }

    90% {
        border: 3px solid rgb(138, 0, 46);
    }

    100% {
        border: 3px solid green;
    }
}

/*Other shit*/


@media (max-width:750px){
    *{
        font-size: 7pt;
    }
    .bg{
        display: none;
    }
    .bg-ph{
        display: block;
    }
    .top{
        height: 40px;
    }

    .top ul li{
        font-size: 10pt;
    }

    .text-main ul #firstchild{
        font-size: 15pt;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
      }
    
      .logo {
        display: none;
      }
    
      .navbar-nav {
        flex-direction: row;
      }
    
      .nav-link {
        justify-content: center;
      }

}

@media (max-width:400px){
    *{
        font-size: 5pt;
    }
    .text-main ul #firstchild{
        font-size: 10pt;
    }
    .main{
        height: 80%;
        padding-bottom: 30px;
            margin-left: 0;
        width: 100%;
    }
    .top{
        height: 30px;
    }
    .top ul li{
        font-size: 7pt;
    }
   
}

@media (max-width:300px){
    *{
        font-size: 5pt;
    }
    .text-main ul #firstchild{
        font-size: 8pt;
    }
    .top{
        height: 20px;
    }
    .top ul li{
        font-size: 5pt;
    }
}


@media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
  